.mm_admin_attachments .form-table, .mm_admin_media .form-table {
    border: 1px solid #999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    border-collapse: separate;
}

#mm-message-date {
    width: 100px;
}

#mm-message-verses {
    width: 99%;
}

#mm-media-embedded {
    display: none;
}

.mm_admin_box input[type=text] {
    width: 70%;
}

.mm_admin_box .form-table th {
    width: 100px;
}