/* Message Manager Styles */

.single-mm_cpt_message .content-area, .tax-mm_tax_series .content-area {
    padding-top: 1em;
}

/* Message */

.single-mm_cpt_message .entry-title {
    margin-bottom: .2em;
}

.single-mm_cpt_message .entry-meta {
    margin-bottom: 1em;
}

.single-mm_cpt_message .entry-thumbnail img {
    margin: 0 0 20px 20px;
}

/* Message Grid */

.mm-message-grid a {
    display: block;
    color: gray;
}

.mm-message-grid img {
    border: none;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.mm-message-grid img:hover, .mm-message-grid img:focus {
    -webkit-box-shadow: 0 0 6px 2px rgba(43, 166, 203, 0.5);
    -moz-box-shadow: 0 0 6px 2px rgba(43, 166, 203, 0.5);
    box-shadow: 0 0 6px 2px rgba(43, 166, 203, 0.5);
}

.mm-message-grid h4 {
    display: block;
    font-style: italic;
    color: #222;
    margin-bottom: 0;
    padding-bottom: 0;
}

.mm-message-grid span {
    display: block;
    font-size: 80%;
}

/* speakers */
/*.message_manager_speaker article {*/
/*clear: both;*/
/*margin-bottom: 2em;*/
/*}*/

/*.message_manager_speaker header h4 {*/
/*margin-bottom: 0px;*/
/*}*/

/*.message_manager_speaker header span {*/
/*display: block;*/
/*margin-bottom: 14px;*/
/*color: gray;*/
/*}*/

/* series list */
.mm-series-list {
    list-style: none;
}

.mm-series-list li {
    vertical-align: middle;
}

.mm-series-list li a {
    margin-bottom: 1em;
    background-color: #fff;
    padding: 10px;
    display: block;
    width: 100%;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.mm-series-list li.active a {
    -webkit-box-shadow: 0 0 6px 1px rgb(132, 132, 132);
    -moz-box-shadow: 0 0 6px 1px rgba(132, 132, 132);
    box-shadow: 0 0 6px 1px rgba(132, 132, 132);
}

.mm-series-list li a:hover, .mm-series-list li a:focus {
    background-color: rgba(43, 166, 203, 0.10);
    -webkit-box-shadow: 0 0 6px 2px rgba(43, 166, 203, 0.5);
    -moz-box-shadow: 0 0 6px 2px rgba(43, 166, 203, 0.5);
    box-shadow: 0 0 6px 2px rgba(43, 166, 203, 0.5);
}

.mm-series-list li h5 {
    margin: 0;
    padding: 0;
}

/* download list */
.mm-mime-icon {
    list-style: none;
    background: no-repeat left center;
    padding: 3px 3px 3px 30px;
}

/* mime icons */
.mm-mime-ai {
    background-image: url('icons/ai-icon-24x24.png');
}

.mm-mime-asf {
    background-image: url('icons/asf-icon-24x24.png');
}

.mm-mime-avi {
    background-image: url('icons/avi-icon-24x24.png');
}

.mm-mime-bib {
    background-image: url('icons/bib-icon-24x24.png');
}

.mm-mime-csv {
    background-image: url('icons/csv-icon-24x24.png');
}

.mm-mime-deb {
    background-image: url('icons/deb-icon-24x24.png');
}

.mm-mime-djvu {
    background-image: url('icons/djvu-icon-24x24.png');
}

.mm-mime-dmg {
    background-image: url('icons/dmg-icon-24x24.png');
}

.mm-mime-doc {
    background-image: url('icons/doc-icon-24x24.png');
}

.mm-mime-docx {
    background-image: url('icons/docx-icon-24x24.png');
}

.mm-mime-dwf {
    background-image: url('icons/dwf-icon-24x24.png');
}

.mm-mime-dwg {
    background-image: url('icons/dwg-icon-24x24.png');
}

.mm-mime-flac {
    background-image: url('icons/flac-icon-24x24.png');
}

.mm-mime-flv {
    background-image: url('icons/flv-icon-24x24.png');
}

.mm-mime-gif {
    background-image: url('icons/gif-icon-24x24.png');
}

.mm-mime-gz {
    background-image: url('icons/gz-icon-24x24.png');
}

.mm-mime-dwf {
    background-image: url('icons/dwf-icon-24x24.png');
}

.mm-mime-indd {
    background-image: url('icons/indd-icon-24x24.png');
}

.mm-mime-iso {
    background-image: url('icons/iso-icon-24x24.png');
}

.mm-mime-jpg {
    background-image: url('icons/jpg-icon-24x24.png');
}

.mm-mime-log {
    background-image: url('icons/log-icon-24x24.png');
}

.mm-mime-m4v {
    background-image: url('icons/m4v-icon-24x24.png');
}

.mm-mime-midi {
    background-image: url('icons/midi-icon-24x24.png');
}

.mm-mime-mkv {
    background-image: url('icons/mkv-icon-24x24.png');
}

.mm-mime-mov {
    background-image: url('icons/mov-icon-24x24.png');
}

.mm-mime-mp3 {
    background-image: url('icons/mp3-icon-24x24.png');
}

.mm-mime-mp4 {
    background-image: url('icons/mp4-icon-24x24.png');
}

.mm-mime-mpeg {
    background-image: url('icons/mpeg-icon-24x24.png');
}

.mm-mime-mpg {
    background-image: url('icons/mpg-icon-24x24.png');
}

.mm-mime-odp {
    background-image: url('icons/odp-icon-24x24.png');
}

.mm-mime-ods {
    background-image: url('icons/ods-icon-24x24.png');
}

.mm-mime-odt {
    background-image: url('icons/odt-icon-24x24.png');
}

.mm-mime-oga {
    background-image: url('icons/oga-icon-24x24.png');
}

.mm-mime-ogg {
    background-image: url('icons/ogg-icon-24x24.png');
}

.mm-mime-ogv {
    background-image: url('icons/ogv-icon-24x24.png');
}

.mm-mime-pdf {
    background-image: url('icons/pdf-icon-24x24.png');
}

.mm-mime-png {
    background-image: url('icons/png-icon-24x24.png');
}

.mm-mime-ppt {
    background-image: url('icons/ppt-icon-24x24.png');
}

.mm-mime-pptx {
    background-image: url('icons/pptx-icon-24x24.png');
}

.mm-mime-psd {
    background-image: url('icons/psd-icon-24x24.png');
}

.mm-mime-ra {
    background-image: url('icons/ra-icon-24x24.png');
}

.mm-mime-ram {
    background-image: url('icons/ram-icon-24x24.png');
}

.mm-mime-rm {
    background-image: url('icons/rm-icon-24x24.png');
}

.mm-mime-rpm {
    background-image: url('icons/rpm-icon-24x24.png');
}

.mm-mime-rv {
    background-image: url('icons/rv-icon-24x24.png');
}

.mm-mime-skp {
    background-image: url('icons/skp-icon-24x24.png');
}

.mm-mime-spx {
    background-image: url('icons/spx-icon-24x24.png');
}

.mm-mime-sql {
    background-image: url('icons/sql-icon-24x24.png');
}

.mm-mime-tar {
    background-image: url('icons/tar-icon-24x24.png');
}

.mm-mime-tex {
    background-image: url('icons/tex-icon-24x24.png');
}

.mm-mime-tgz {
    background-image: url('icons/tgz-icon-24x24.png');
}

.mm-mime-txt {
    background-image: url('icons/txt-icon-24x24.png');
}

.mm-mime-vob {
    background-image: url('icons/vob-icon-24x24.png');
}

.mm-mime-wmv {
    background-image: url('icons/wmv-icon-24x24.png');
}

.mm-mime-xls {
    background-image: url('icons/xls-icon-24x24.png');
}

.mm-mime-xlsx {
    background-image: url('icons/xlsx-icon-24x24.png');
}

.mm-mime-xml {
    background-image: url('icons/xml-icon-24x24.png');
}

.mm-mime-xpi {
    background-image: url('icons/xpi-icon-24x24.png');
}

.mm-mime-zip {
    background-image: url('icons/zip-icon-24x24.png');
}