/* Message Manager Styles */

.message_manager a {
	color: gray;
}

.message_manager h4 {
	font-size: 110%;
	display: block;
	font-style:italic;
	color: #222;
}

.message_manager .message_manager_series_box {
	margin-bottom: 2em;	
}

.message_manager .message_manager_series_box h4 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.message_manager_series .message_manager_series_box span {
	display: block;
	font-size: 90%;
	color: gray;
}

.message_manager_series .message_manager_message_box {
	margin-bottom: 2em;	
}

.message_manager_series .message_manager_message_box h4 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.message_manager_series .message_manager_message_box span {
	display: block;
	font-size: 90%;
	color: gray;
}

.message_manager_message .message-manager-meta {
	display: block;
	margin-bottom: 15px;
}

.message_manager_message .message-manager-title {
	margin-top: 0px;
}

/* the series list */
.message_manager_message h3 {
	margin: 0;
	margin-bottom: 14px;
}


.message-manager-series-list {
	list-style: none;
	margin: 0;
	padding: 0;
	-moz-border-radius: 5px;
border-radius: 5px;
}

.message-manager-series-list li {
	margin-top: 3px;
	z-index: 100;
	padding: 15px 20px 15px 15px;
	line-height: 1em;
	background-color: lightgray;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.message-manager-series-list li a {
	display: block;
	color: black;
}

.message-manager-series-list li a h4 {
	font-size: 16px;
	margin: 0;
}

.message-manager-series-list li.active a h4 {
	color: white;
}

.message-manager-series-list li span {
	display:block;
	color: #424242;
}

.message-manager-series-list li.active span {
	color: lightgray;
}

.message-manager-series-list li.active {
	background-color: #424242;
	color: white;
	
	-moz-box-shadow: 1px 1px 1px #888;
	-webkit-box-shadow: 1px 1px 1px #888;
	box-shadow: 1px 1px 1px #888;
}

/* mimetype download icons */
.message-manager-downloads .mm-mime-icon {
	list-style: none;
		
	background-repeat: no-repeat;
	background-position:left center;
	
	padding: 3px;
	padding-left: 30px;
}

.mm-mime-ai {
	background-image: url('icons/ai-icon-24x24.png');
}
.mm-mime-asf {
	background-image: url('icons/asf-icon-24x24.png');
}
.mm-mime-avi {
	background-image: url('icons/avi-icon-24x24.png');
}
.mm-mime-bib {
	background-image: url('icons/bib-icon-24x24.png');
}
.mm-mime-csv {
	background-image: url('icons/csv-icon-24x24.png');
}
.mm-mime-dev {
	background-image: url('icons/dev-icon-24x24.png');
}
.mm-mime-djvu {
	background-image: url('icons/djvu-icon-24x24.png');
}
.mm-mime-dmg {
	background-image: url('icons/dmg-icon-24x24.png');
}
.mm-mime-doc {
	background-image: url('icons/doc-icon-24x24.png');
}
.mm-mime-docx {
	background-image: url('icons/docx-icon-24x24.png');
}
.mm-mime-dwf {
	background-image: url('icons/dwf-icon-24x24.png');
}
.mm-mime-dwg {
	background-image: url('icons/dwg-icon-24x24.png');
}
.mm-mime-flac {
	background-image: url('icons/flac-icon-24x24.png');
}
.mm-mime-flv {
	background-image: url('icons/flv-icon-24x24.png');
}
.mm-mime-gif {
	background-image: url('icons/gif-icon-24x24.png');
}
.mm-mime-gz {
	background-image: url('icons/gz-icon-24x24.png');
}
.mm-mime-dwf {
	background-image: url('icons/-icon-24x24.png');
}
.mm-mime-indd {
	background-image: url('icons/indd-icon-24x24.png');
}
.mm-mime-iso {
	background-image: url('icons/iso-icon-24x24.png');
}
.mm-mime-jpg {
	background-image: url('icons/jpg-icon-24x24.png');
}
.mm-mime-log {
	background-image: url('icons/log-icon-24x24.png');
}
.mm-mime-m4v {
	background-image: url('icons/mv4-icon-24x24.png');
}
.mm-mime-midi {
	background-image: url('icons/midi-icon-24x24.png');
}
.mm-mime-mkv {
	background-image: url('icons/mvk-icon-24x24.png');
}
.mm-mime-mov {
	background-image: url('icons/mov-icon-24x24.png');
}
.mm-mime-mp3 {
	background-image: url('icons/mp3-icon-24x24.png');
}
.mm-mime-mp4 {
	background-image: url('icons/mp4-icon-24x24.png');
}
.mm-mime-mpeg {
	background-image: url('icons/mpeg-icon-24x24.png');
}
.mm-mime-mpg {
	background-image: url('icons/mpg-icon-24x24.png');
}
.mm-mime-odp {
	background-image: url('icons/odp-icon-24x24.png');
}
.mm-mime-ods {
	background-image: url('icons/ods-icon-24x24.png');
}
.mm-mime-odt {
	background-image: url('icons/odt-icon-24x24.png');
}
.mm-mime-oga {
	background-image: url('icons/oga-icon-24x24.png');
}
.mm-mime-ogg {
	background-image: url('icons/ogg-icon-24x24.png');
}
.mm-mime-ogv {
	background-image: url('icons/ogv-icon-24x24.png');
}
.mm-mime-pdf {
	background-image: url('icons/pdf-icon-24x24.png');
}
.mm-mime-png {
	background-image: url('icons/png-icon-24x24.png');
}
.mm-mime-ppt {
	background-image: url('icons/ppt-icon-24x24.png');
}
.mm-mime-pptx {
	background-image: url('icons/pptx-icon-24x24.png');
}
.mm-mime-psd {
	background-image: url('icons/pds-icon-24x24.png');
}
.mm-mime-ra {
	background-image: url('icons/ra-icon-24x24.png');
}
.mm-mime-ram {
	background-image: url('icons/ram-icon-24x24.png');
}
.mm-mime-rm {
	background-image: url('icons/rm-icon-24x24.png');
}
.mm-mime-rpm {
	background-image: url('icons/rpm-icon-24x24.png');
}
.mm-mime-rv {
	background-image: url('icons/rv-icon-24x24.png');
}
.mm-mime-skp {
	background-image: url('icons/skp-icon-24x24.png');
}
.mm-mime-spx {
	background-image: url('icons/spx-icon-24x24.png');
}
.mm-mime-sql {
	background-image: url('icons/sql-icon-24x24.png');
}
.mm-mime-tar {
	background-image: url('icons/tar-icon-24x24.png');
}
.mm-mime-tex {
	background-image: url('icons/tex-icon-24x24.png');
}
.mm-mime-tgz {
	background-image: url('icons/tgz-icon-24x24.png');
}
.mm-mime-txt {
	background-image: url('icons/txt-icon-24x24.png');
}
.mm-mime-vob {
	background-image: url('icons/vob-icon-24x24.png');
}
.mm-mime-wmv {
	background-image: url('icons/wmv-icon-24x24.png');
}
.mm-mime-xls {
	background-image: url('icons/xls-icon-24x24.png');
}
.mm-mime-xlsx {
	background-image: url('icons/xlsx-icon-24x24.png');
}
.mm-mime-xml {
	background-image: url('icons/xml-icon-24x24.png');
}
.mm-mime-xpi {
	background-image: url('icons/xpi-icon-24x24.png');
}
.mm-mime-zip {
	background-image: url('icons/zip-icon-24x24.png');
}